.legend{
    position: absolute;
    top: 10px;
    right: 10px;
    padding: 10px;
    font-family: Arial, sans-serif;
    font-size: 12px;
    max-height: 900px;
    overflow-y: auto;
    background-color: 	#780909;
    border-radius: 6px;
}



p1{
    text-align: left;
    font-size: 14px;
    margin: 20px 20px 10px 40px;
    color: #e50914;
}

.axis text {
    fill: white;
    font-size: 12px;
}
.axis line {
    stroke: white;
}

.canvas{
    position: relative;
    background-color: black;

}

body {
    background-color: rgb(0, 0, 0);
}

.psuedo_footer {
    margin: 10px;
    font-size: 12px;
    color: #e50914;
    text-decoration: none;
}
